// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// COLORS
$w : #fff;
$b : #000;
$brand-main : #123f6d;
$dark-color : #051438;
$main-color : #58595b;
$dark-gray : #7f7f7f;
$light-color : #aaacae;
$lighter-color : #f8f8f8;
$dark-border : #e6e7e8;
$light-border : #f0f2f7;
$alternate-color : #5abeda;
$highlight-color : #cbdb2a;
$cyan : #ddf3fd;
$error: #d0381e;

// UNITS

$base_font_size : 16px;
$base : 10px;
$p : 20px;
$speed : .5s;
$f: 100%;
$max-width: 1286px;
$min-max-width: 500px;
$md-max-width: 790px;
$bp : 850px;
$r : 15px;
$spacing : (80/1000) * 1em;
$lh: 40px/35px;

// FONTS

$main-font: 'Encode Sans', Helvetica, Arial, sans-serif;
$alternate-font: 'Baloo Bhaina', 'Trebuchet MS', cursive;
//$alternate-font: 'Lato', Helvetica, Arial, sans-serif;