@import "compass";
@import "compass/css3";
@import "ceaser-easing";
@import "common/variables";
@import "common/global";
@import "content/index";

.landing {
	background: linear-gradient(45deg, #123f6d, #051338);
	color: $w;
	opacity: 1;
	padding-top: 0;
	.icon-logo {
		font-size: em(70px);
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	&__container {
		@include grow('lg');
		min-height: 100vh;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		text-align: center;
		
	}
	&__title {
		color: $w;
		line-height: $f*1.25;
	}
	&__figure {
		display: block;
		margin:  em($p) auto;
		img {
			width: $f;
			max-width: em(280px);
		}
	}
}