cookie-law-banner {
	.cl-banner {
		position: fixed;
		bottom: 0;
		left: 0;
		width: $f;
		@include normalize_padding;
		padding: {
			top: 10px;
			bottom: 10px;
		};
		background-color: #fff;
		text-align: center;
		z-index: 999999999;
		border-top: 1px solid $light-border;
		p {
			font-size: 12px;
		}
	}
	&.accepted {
		.cl-banner {
			transition: transform $speed;
			transform: translate3d(0, 100%, 0);
		}
	}
}