.datasheet {
	@include grow('lg');
	text-align: center;
	@include breakpoint() {
		text-align: left;
	}
	&__{
		&row {
			@include grow('md');
			border-bottom: 1px solid $w;
			&--last {
				border-bottom: 0;
			}
		}
		&header {
			@include grow('small');
		}
		&subtitle {
			font-size: em($p);
			color: $dark-gray;
		}
		&cell {
			&--s8 {
				p {
					font-size: em(14px);
				}
			}
		}
	}
}