.faq {
	&__{
		&header, &item {
			@include grow('md');
			text-align: center;
			@include breakpoint() {
				text-align: left;
			}
		}
		&item {
			border-bottom: 1px solid $dark-border;
		}
		&list {
			.faq__item {
				&:nth-last-child(1) {
					border-bottom: 0;
				}
			}
		}
		&subtitle {
			.faq__item--active & {
				color: $main-color;
			}
		}
		&text {
			@include grow('small', 'top');
		}
		&close {
			font-family: $alternate-font;
			color: $brand-main;
			transition: transform $speed;
			backface-visibility: hidden;
			perspective: 1000px;
			transform: rotate(0deg) translateZ(0);
			.faq__item--active & {
				transform: rotate(90deg) translateZ(0);
			}
		}
	}
}