.faq {
	&__{
		&header, &item {
			@include grow('md');
			// text-align: center;
			// @include breakpoint() {
			// 	text-align: left;
			// }
		}
		&header {
			justify-content: space-between;
			align-items: center;
			overflow: visible;
		}
		&item {
			border-bottom: 1px solid $dark-border;
		}
		&list {
			.faq__item {
				&:nth-last-child(1) {
					border-bottom: 0;
				}
			}
		}
		&subtitle {
			line-height: percentage($lh);
			margin-bottom: lh_mb(18px, $lh);
			@include breakpoint() {
				margin-bottom: lh_mb(18px, $lh);
			}
			.faq__item--active & {
				color: $main-color;
			}
		}
		&text {
			@include grow('small', 'top');
		}
		&close {
			font-family: $alternate-font;
			color: $brand-main;
			transition: transform $speed, opacity $speed;
			backface-visibility: hidden;
			perspective: 1000px;
			width: 20px;
			opacity: 0;
			height: 20px;
			transform: rotate(0deg) translateZ(0);
			position: relative;
			margin-left: em($p);
			&:before, &:after {
				background-color: $brand-main;
				content: '';
				width: 6px;
				height: $f;
				position: absolute;
				top: 0;
				left: 7px;
				border-radius: 2px;
				transition: $speed background-color;
			}
			&:after {
				transform: rotate(90deg) translateZ(0);
			}
			.faq__item:hover & {
				&:after, &:before {
					background-color: $alternate-color;
				}
			}
			.faq__item--active & {
				opacity: 1;
				transform: rotate(45deg) translateZ(0);
				&:after, &:before {
					background-color: $highlight-color;
				}
			}
		}
	}
}