.faq {
	&__{
		&header, &item {
			@include grow('md');
			text-align: center;
			@include breakpoint() {
				text-align: left;
			}
		}
		&header {
			justify-content: space-between;
			align-items: center;
			overflow: visible;
		}
		&item {
			border-bottom: 1px solid $dark-border;
		}
		&list {
			.faq__item {
				&:nth-last-child(1) {
					border-bottom: 0;
				}
			}
		}
		&subtitle {
			line-height: percentage($lh);
			margin-bottom: lh_mb(18px, $lh);
			@include breakpoint() {
				margin-bottom: lh_mb(18px, $lh);
			}
			.faq__item--active & {
				color: $main-color;
			}
		}
		&text {
			@include grow('small', 'top');
		}
		&close {
			font-family: $alternate-font;
			color: $brand-main;
			transition: transform $speed;
			backface-visibility: hidden;
			perspective: 1000px;
			width: em($p);
			height: em($p);
			transform: rotate(0deg) translateZ(0);
			position: relative;
			&:before, &:after {
				width: em(8px);
				height: $f;
				position: absolute;
				top: 0;
				left: em(6px);
				border-top-right-radius: em(6px);
				border-bottom-right-radius: em(6px);
			}
			&:after {
				transform: rotate(90deg) translateZ(0);
			}
			.faq__item--active & {
				transform: rotate(90deg) translateZ(0);
			}
		}
	}
}