[class*="flowers"] {
	background: url(../images/iro-illustrazione-elemento-soffione-1.png) repeat-x center;
	background-size: contain;
	position: absolute;
	left: 0;
	width: $f;
	height: em($p*20);
	&[class*="--top"] {
		top: 0;
	}
	&[class*="--bottom"] {
		bottom: 0;
	}
	&[class*="--flipped"] {
		transform: scale(-1);
	}
	&[class*="--flipped-x"] {
		transform: scaleX(-1);
	}
	&[class*="--flipped--y"] {
		transform: scaleY(-1);
	}
}