.flowers {
	background: url(../images/iro-illustrazione-elemento-soffione-1.png) repeat-x center;
	background-size: contain;
	position: absolute;
	left: 0;
	width: $f;
	height: em($p*20);
	&--top {
		top: 0;
	}
	&--bottom {
		bottom: 0;
	}
	&--flipped {
		transform: scale(-1);
		&-x {
			transform: scaleX(-1);
		}
		&-y {
			transform: scaleY(-1);
		}
	}
}