figure {
	margin: 0;
}
[class*="__cover"], [class*="-cover"] {
	@include cover();
}
[class*="__contain"], [class*="-contain"] {
	&:not([class*="__container"]):not([class*="--container"]) {
		@include cover($size : contain);
	}
}


[data-object-fit] {
	visibility: hidden;
	@supports (object-fit: cover) and (object-fit: contain) {
		visibility: visible;
	}
}