.instagram {
	&__{
		&header {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
		&figure {
			display: none;
			@include breakpoint() {
				display: block;
				position: relative;	
				flex: 1;
				z-index: 2;
				margin-bottom: em($p*-5);
			}
			@include breakpoint(1024px) {
				margin-bottom: em($p*-10);
			}
		}
		&image {
			width: $f;
		}
		&title {
			margin-right: em($p*2, 18px);
			padding-bottom: em($p, 18px);
			@include breakpoint($bp) {
		        margin-right: em($p*2, 24px);
				padding-bottom: em($p, 24px);
		    }
		}
		&button {
			span {
				font-size: 12px;
			}
		}
		&container {
			overflow: hidden;
		}
		&item {
			position: relative;
			&:before {
				display: block;
				padding-top: $f;
				content: '';
			}
			a, img {
				@include full;
			}
			&:hover {
				.instagram__content {
					opacity: 1;
				}
			}
		}
		&content {
			@include full;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			align-content: center;
			padding: em($p/2);
			color: $w;
			opacity: 0;
			transition: opacity $speed;
			background-color: transparentize($b, .4);
			img {
				max-width: em($p*3);
				margin-bottom: em($p/2);
				position: static;
				height: auto;
				border-radius: $f;
			}
			> * {
				width: $f;
				text-align: center;
				flex: 0 0 auto;
			}
		}
		&time {
			font-size: 12px;
		}
	}
}