.instagram {
	&__{
		&header {
			display: flex;
			align-items: center;
			padding-bottom: em($p);
		}
		&figure {
			display: none;
			@include breakpoint() {
				display: block;
				position: relative;	
				flex: 1;
				z-index: 2;
				margin-bottom: em($p*-5);
			}
			@include breakpoint(1024px) {
				margin-bottom: em($p*-10);
			}
		}
		&image {
			width: $f;
		}
		&button {
			margin: 0 em($p*2);
			span {
				font-size: 12px;
			}
		}
		&container {
			overflow: hidden;
		}
		&item {
			position: relative;
			&:before {
				display: block;
				padding-top: $f;
				content: '';
			}
			a, img {
				@include full;
			}
			&:hover {
				.instagram__content {
					opacity: 1;
				}
			}
		}
		&content {
			@include full;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			padding: em($p/2);
			color: $w;
			opacity: 0;
			transition: opacity $speed;
			background-color: transparentize($b, .4);
			img {
				max-width: em($p*4);
				margin-bottom: em($p/2);
			}
			> * {
				width: $f;
				text-align: center;
				flex: 0 0 auto;
			}
		}
		&time {
			font-size: 12px;
		}
	}
}