.popup {
	@include full($pos: fixed);
	z-index: 9999999;
	//background: linear-gradient(to top, #0c386c, #7dcdf3);
	background: url(../images/iro-sogno-accedi-stelle-BG.gif) repeat;
	background-size: 250px;
	opacity: 0;
	visibility: hidden;
	transition: $speed opacity $speed, visibility $speed $speed;
	.handheld & {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;	
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.swiper-container {
		@include full;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.swiper-wrapper {
		display: block;
		margin: auto;
		overflow: visible;
	}
	&--visible {
		opacity: 1;
		visibility: visible;
		transition-delay: 0;
	}
	&__form {
		background-color: $lighter-color;
		border-radius: $r;
		max-width: $f;
		margin-top: em(74px, 14px);
		margin-bottom: em(74px, 14px);
		@include breakpoint() {
			margin-top: em(74px);
			margin-bottom: em(74px);
		}
		// .ng-enter &, .ng-leave & {
		// 	transform: translate3d(0, $p, 0);
		// }
		// .ng-enter.ng-enter-active &, .ng-leave & {
		// 	transition: transform $speed/2;
		// }
		// .ng-leave & {
		// 	transition-delay: $speed;
		// }
		// .ng-enter.ng-enter-active & {
		// 	transform: translate3d(0, 0, 0);
		// }
		.popup--visible-add &, .popup--visible-remove & {
			transform: translate3d(0, $p, 0);
		}
		.popup--visible-add.popup--visible &, .popup--visible-remove & {
			transition: transform $speed/2;
		}
		.popup--visible-remove & {
			transition-delay: $speed;
		}
		.popup--visible.popup--visible-add-active & {
			transform: translate3d(0, 0, 0);
		}
	}
	&__row {
		padding: {
			top: em(10px);
			left: em(30px);
			right: em(30px);
			bottom: em(10px);
		}
		&--close {
			height: em(87px);
			text-align: right;
			background-color: $dark-color;
			border-top-left-radius: $r;
			border-top-right-radius: $r;
			color: $w;
			padding-top: em(20px);
			margin-bottom: em(20px);
			.icon-chiudi {
				font-size: 12px;
				margin-left: 10px;
			}
		}
		&--aligncenter {
			padding-top: 0;
			a {
				font-size: 12px;
			}
		}
	}
	&__close {
		display: inline-flex;
		align-items: center;
	}
	&__footer {
		border-top: 1px solid $dark-border;
		padding: em(20px) em(30px);
	}
	&__title {
		margin-right: em(40px, 30px);
		line-height: 1;
	}
	&__switch {
		font-size: 12px;
		position: relative;
		top: -7px;
		align-self: flex-end;
	}
	&__button {
		width: $f;
	}
	&__header {
		position: relative;
	}
	&__image {
		position: absolute;
		left: em(30px);
		// width: em(125px);
		// height: em(130px);
		// top: em(67px)*-1;
		width: em(100px);
		height: em(104px);
		top: em(54px)*-1;
		background-image: url(../images/iro-sogno-accedi-luna.png);
		@include cover($size: contain);
		.popup--visible-add &, .popup--visible-remove & {
			transform: translate3d(0, $p*-1, 0);
			opacity: 0;
		}
		.popup--visible-add.popup--visible &, .popup--visible-remove & {
			transition: transform $speed/2, opacity $speed/2;
		}
		.popup--visible-add.popup--visible & {
			transform: translate3d(0, 0, 0);
			opacity: 1;
			transition-delay: $speed/2;
		}
	}
	&__error {
		color: $error;
		text-align: center;
		padding: em($p);
		&.ng-enter {
			opacity: 0;
			visibility: hidden;
		}
		&.ng-enter-active, &.ng-leave {
			transition: opacity $speed, visibility $speed;
		}
		&.ng-enter-active {
			opacity: 1;
			visibility: visible;
		}
		&.ng-leave-active {
			visibility: hidden;
			opacity: 0;
		}
	}
}