.popup {
	@include full($pos: fixed);
	z-index: 9999999;
	//background: linear-gradient(to top, #0c386c, #7dcdf3);
	background: url(../images/iro-sogno-accedi-stelle-BG.gif) repeat;
	background-size: 250px;
	display: none;
	&--promo {
		background-image: none;
		background-color: transparentize($b, .15);
	}
	// .handheld & {
	// 	overflow-x: hidden;
	// 	overflow-y: scroll;
	// 	-webkit-overflow-scrolling: touch;	
	// 	justify-content: center;
	// 	align-items: center;
	// }
	.swiper-container {
		@include full;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&--size {
		z-index: 99999999;
		.swiper-container {
			align-items: flex-start;
		}
	}
	.swiper-wrapper {
		display: block;
		margin: auto;
		overflow: visible;
	}
	&.popup--visible {
		display: block;
		// .handheld & {
		// 	display: flex;
		// }
	}
	&.popup--visible-add {
		display: block;
		visibility: hidden;
		opacity: 0;
		&.popup--visible-add-active {
			.iro--init & {
				opacity: 1;
				visibility: visible;
				transition: $speed opacity $speed, visibility $speed $speed;
			}
		}
	}
	&.popup--visible-remove {
		display: block;
		// .handheld & {
		// 	display: flex;
		// }
		&.popup--visible-remove-active {
			opacity: 0;
			visibility: hidden;
			transition: $speed opacity $speed, visibility $speed $speed;
		}
	}
	// &--visible {
	// 	opacity: 1;
	// 	visibility: visible;
	// 	transition-delay: 0;
	// }
	&__form {
		background-color: $lighter-color;
		position: relative;
		border-radius: $r;
		max-width: $f;
		margin-top: em(74px, 14px);
		margin-bottom: em(74px, 14px);
		@include breakpoint() {
			margin-top: em(74px);
			margin-bottom: em(74px);
		}
		.popup--size & {
			background-color: $w;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			width: $f;
			margin-top: auto!important;
			margin-bottom: auto!important;
			padding-top: em($p*2);
		}
		// .ng-enter &, .ng-leave & {
		// 	transform: translate3d(0, $p, 0);
		// }
		// .ng-enter.ng-enter-active &, .ng-leave & {
		// 	transition: transform $speed/2;
		// }
		// .ng-leave & {
		// 	transition-delay: $speed;
		// }
		// .ng-enter.ng-enter-active & {
		// 	transform: translate3d(0, 0, 0);
		// }
		.popup--visible-add &, .popup--visible-remove & {
			transform: translate3d(0, $p, 0);
		}
		.popup--visible-add.popup--visible &, .popup--visible-remove & {
			transition: transform $speed/2;
		}
		.popup--visible-remove & {
			transition-delay: $speed;
		}
		.popup--visible.popup--visible-add-active & {
			transform: translate3d(0, 0, 0);
		}
	}
	&__row {
		padding: {
			top: em(10px);
			left: em(30px);
			right: em(30px);
			bottom: em(10px);
		}
		&--error {
			color: $error;
			span {
				font-size: 11px;
				font-style: italic;
				a {
					color: $brand-main;
					&:hover {
						color: $alternate-color;
					}
				}
			}
		}
		&--close {
			height: em(87px);
			text-align: right;
			background-color: $dark-color;
			border-top-left-radius: $r;
			border-top-right-radius: $r;
			color: $w;
			padding-top: em(20px);
			margin-bottom: em(20px);
			.popup--size & {
				margin-bottom: 0;
			}
			.icon-chiudi {
				font-size: 12px;
				margin-left: 10px;
			}
		}
		&--aligncenter {
			padding-top: 0;
			a {
				font-size: 12px;
			}
		}
		&--header {
			padding-top: em($p*2);
			padding-bottom: em($p*2);
			background-color: #fff;
			border-bottom: 1px solid $dark-border;
		}
	}
	&__close {
		display: inline-flex;
		align-items: center;
		.popup--promo & {
			position: absolute;
			right: 0;
			top: 0;
			transform: translate3d(0, -100%, 0);
			color: $w;
			padding-bottom: em($p);
			.icon-chiudi {
				font-size: 12px;
				margin-left: 10px;
			}
			&:hover {
				.icon-chiudi {
					transform: scale(0.9) translate3d(0, 0, 0);
				}
			}
		}
	}
	&__module {
		max-width: $md-max-width;
		border-radius: $r;
		margin-top: em(74px, 14px);
		margin-bottom: em(74px, 14px);
	}
	&__footer {
		border-top: 1px solid $dark-border;
		padding: em(20px) em(30px);
		.popup--size & {
			text-align: center;
			margin-top: em($p);
			.popup__privacy {
				font-size: 12px;
				display: inline-block;
				padding-bottom: em($p, 12px);
			}
			.popup__button {
				width: auto;
				display: inline-block;
			}
		}
	}
	&__title {
		margin-right: em(40px, 30px);
		line-height: 1;
	}
	&__switch {
		font-size: 12px;
		position: relative;
		top: -7px;
		align-self: flex-end;
	}
	&__button {
		width: $f;
	}
	&__header {
		position: relative;
		.popup--size & {
			text-align: center;
		}
	}
	&__image {
		position: absolute;
		left: em(30px);
		// width: em(125px);
		// height: em(130px);
		// top: em(67px)*-1;
		width: em(100px);
		height: em(104px);
		top: em(54px)*-1;
		background-image: url(../images/iro-sogno-accedi-luna.png);
		@include cover($size: contain);
		.popup--visible-add &, .popup--visible-remove & {
			transform: translate3d(0, $p*-1, 0);
			opacity: 0;
		}
		.popup--visible-add.popup--visible &, .popup--visible-remove & {
			transition: transform $speed/2, opacity $speed/2;
		}
		.popup--visible-add.popup--visible & {
			transform: translate3d(0, 0, 0);
			opacity: 1;
			transition-delay: $speed/2;
		}
	}
	&__error {
		color: $error;
		text-align: center;
		padding: em($p);
		&.ng-enter {
			opacity: 0;
			visibility: hidden;
		}
		&.ng-enter-active, &.ng-leave {
			transition: opacity $speed, visibility $speed;
		}
		&.ng-enter-active {
			opacity: 1;
			visibility: visible;
		}
		&.ng-leave-active {
			visibility: hidden;
			opacity: 0;
		}
	}
	&__promo {
		position: relative;
		width: $f;
		background-color: #fff;
		text-align: center;
		border-radius: $r;
		max-width: em(1000px);
	}
	&__figure {
		display: none;
		.popup--promo & {
			align-items: center;
			align-content: center;
			> * {
				width: $f!important;
				flex: 0 0 auto;
				height: auto!important;
			}
		}
		@include breakpoint() {
			display: flex;
		}
	}
	&__content {
		.popup--promo & {
			@include grow('lg');
			text-transform: none;
			align-items: center;
			align-content: center;
			> * {
				width: $f;
				flex: 0 0 auto;
			}
		}
	}
	&__countdown {
		justify-content: center;
	}
	&__time {
		padding: em($p) em($p/2) 0;
		strong {
			font-size: $f*2;
			font-family: $alternate-font;
			color: $alternate-color;
		}
		span {
			text-transform: lowercase;
			font-size: em(14px);
			color: $dark-gray;
		}
	}
	&__text {
		@include grow('small', 'top');
		strong {
			font-size: $f*2;
			color: $brand-main;
			border-bottom: 2px solid $highlight-color;
		}
	}
	&__link {
		@include grow('md', 'top');
	}
	&__button {
		.popup--promo & {
			display: inline-block;
			width: auto;
		}
	}
	&__unit{
		&s {
			align-items: center;
			
		}
		flex: 1;
		display: flex;
		align-items: center;
	}
	&__per {
		display: inline-block;
		padding: 0 em($p/2);
	}
	&__ {
		&alert {
			@include full;
			z-index: 2;
			background-color: transparentize($w, .05);
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			text-align: center;
		}
		&message, &alert {
			opacity: 0;
			transition: visiblity $speed, opacity $speed;
			visibility: hidden;
			border-bottom-left-radius: $r;
			border-bottom-right-radius: $r;
			&--visible {
				opacity: 1;
				visibility: visible;
			}
		}
		&message {
			p {
				padding: em($p) 0;
			}
		}
	}
}