.promo {
	position: fixed;
	top: 0;
	left: 0;
	width: $f;
	text-transform: uppercase;
	z-index: 9999;
	overflow: visible;
	&__{
		&wrapper {		
			background-color: $highlight-color;
			justify-content: center;
			@include breakpoint(1030px) {	
				justify-content: flex-start;
			}
		}
		&pre, &content {
			padding: {
				top: em(10px);
				bottom: em(10px);
			};
		}
		&pre {
			background-color: $brand-main;
			flex: 0 0 auto;
			color: $w;
			border-top-right-radius: em($p*2);
			border-bottom-right-radius: em($p*2);
			align-items: center;
			align-content: center;
			font-family: $alternate-font;
			display: none;
			span {
				font-size: 13px;
				@include breakpoint() {
					font-size: 1.1em;
				}
			}
			@include breakpoint(1030px) {
				display: flex;
			}
		}
		&content {
			font-family: $alternate-font;
			flex: 1;
			color: $brand-main;
			display: flex;
			flex-wrap: wrap;
			display: flex;
			align-items: center;
			align-content: center;
			flex-wrap: wrap;
			max-width: $f;
			justify-content: center;
			@include breakpoint(1030px) {	
				justify-content: flex-start;
			}
			span {
				flex: 0 0 auto;
				font-size: 12px;
				@include breakpoint() {
					font-size: 1em;
				}
			}
		}
		&name {
			font-family: $main-font;
			display: inline-block;
			margin: 0 10px;
			text-transform: none;
			position: relative;
			top: -3px;
		}
		&sep {
			margin: 0 10px;
			font-size: $f*2!important;
			display: none;
			@include breakpoint(1030px) {	
				display: inline-block;
			}
		}
		&discount {
			font-size: $f*2!important;
			display: inline-block;
			margin: 0 10px;
		}
		&expire {
			font-family: $main-font;
			font-size: 70%!important;
			top: -2px;
			position: relative;
			display: none;
			@include breakpoint(1030px) {	
				display: inline-block;
			}
		}
	}
}