.promo {
	position: fixed;
	top: em(90px);
	right: 0;
	width: $f;
	text-transform: uppercase;
	z-index: 99998;
	background-color: $highlight-color;
	overflow: visible;
	display: flex;
	align-items: center;
	border-top-left-radius: $r;
	border-bottom-left-radius: $r;
	color: $brand-main;
	padding: em(10px) em(20px);
	transition: {
		property: visibility, opacity, background-color;
		duration: $speed;
	};
	&--hidden {
		opacity: 0;
		visibility: hidden;
	}	
	&__{
		&pre {
			font-family: $alternate-font;
			span {
				font-size: 13px;
				@include breakpoint() {
					font-size: 1.1em;
				}
			}
		}
		&open {
			width: 20px;
			height: 20px;
			margin-left: em(20px);
			position: relative;
			&:before, &:after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				height: $f;
				width: 4px;
				margin-left: -2px;
				background-color: $brand-main;
			}
			&:after {
				transform: rotate(90deg) translateZ(0);
			}
		}
	}
	&:hover {
		background-color: $brand-main;
		color: $w;
		.promo__open {
			&:before, &:after {
				background-color: $w;
			}
		}
	}
}