.promo {
	background-color: $highlight-color;
	position: absolute;
	top: 0;
	left: 0;
	width: $f;
	text-transform: uppercase;
	&__{
		&pre, &content {
			padding: {
				top: em(10px);
				bottom: em(10px);
			};
			flex: 0 0 auto;
		}
		&pre {
			background-color: $brand-main;
			color: $w;
			border-top-right-radius: em($p*2);
			border-bottom-right-radius: em($p*2);
			display: flex;
			align-items: center;
			align-content: center;
			span {
				font-size: 13px;
				@include breakpoint() {
					font-size: 1.1em;
				}
			}
		}
		&content {
			font-family: $alternate-font;
			color: $brand-main;
			p {
				display: flex;
				align-items: center;
				align-content: center;
				flex-wrap: wrap;
				font-size: 12px;
				@include breakpoint() {
					font-size: 1em;
				}
			}
		}
		&name {
			font-family: $main-font;
			display: inline-block;
			margin: 0 10px;
			text-transform: none;
			position: relative;
			top: -3px;
		}
		&sep {
			margin: 0 10px;
			display: inline-block;
			font-size: $f*2;
		}
		&discount {
			font-size: $f*2;
			display: inline-block;
			margin: 0 10px;
		}
		&expire {
			font-family: $main-font;
			font-size: 70%;
			top: -2px;
		}
	}
}