.swiper-scrollbar {
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 5px;
	width: 5px;
	&-drag {
		border-radius: $r;
		background-color: $brand-main;
		width: 5px;
		min-height: em($p*4);
		.facebook__scrollbar & {
			background-color: $alternate-color;
			border-radius: 0;
		}
		.popup & {
			background-color: $w;
		}
	}
	&.facebook__scrollbar {	
		background-color: $dark-border;
		border-radius: 0;
		right: 0;
	}
}