.section {
	&__{
		&label, &title, &text {
			.swiper-container & {
				transition: $speed transform;
				transform: translate3d(0, $p*-1, 0);
			}
			.swiper-slide-active & {
				transform: translate3d(0, 0, 0);
			}
		}
		&label {
			text-transform: uppercase;
			color: $alternate-color;
			font-weight: 300;
			@include grow('small', 'bottom');
			.swiper-slide-active & {
				transition-delay: $speed/2;
			}
		}
		&text {
			@include grow('small', 'top');
			@include grow('md', 'top');
			@extend %content;
			p, ul, ol {
				.row:not(.row--inverted) &{
					color: $dark-gray;
				}
			}
			img {
				width: $f!important;
				height: auto!important;
			}
			.swiper-slide & {
				transition-delay: $speed/2;
			}
			.swiper-slide-active & {
				transition-delay: 0;
			}
			.section__content--layers & {
				p {
					font-size: em(14px);
				}
			}
		}
		&thumbnail {
			display: inline-block;
			max-width: $f;
		}
		&cell {
			[class*="--gradient"] & {
				position: relative;
				z-index: 3;
			}
			@include grow();
			@each $var in ('small', 'md', 'lg' ){
				@each $pos in ('top', 'bottom') {
					@include grow($var, $pos);
				}
			}
			text-align: center;
			@include breakpoint() {
				text-align: left;
			}
			&--centered {
				margin: auto;
			}
			&--right {
				margin-left: auto;
			}
			&--image {
				&.section__cell--even {
					text-align: right;
				}
			}
			&--aligncenter {
				@include breakpoint() {
					text-align: center;
				}
			}
			&--alignright {
				@include breakpoint() {
					text-align: right;
				}
			}
			&--hide {
				@include breakpoint($min: false) {
					display: none;
				}
			}
			&--text {
				z-index: 2;
				[class*="--gradient"] & {
					z-index: 4;
				}
			}
			&--reviews {
				@include breakpoint() {
					&.section__cell--s6 {
						border-left: 1px solid $light-border;
					}
				}
				.section__top {
					justify-content: center;
					align-items: center;
				}
			}
			&--even {
				&:not(.section__cell--grow):not(.section__cell--grow-md):not(.section__cell--grow-lg):not(.section__cell--grow-top):not(.section__cell--grow-md-top):not(.section__cell--grow-lg-top){
					@include breakpoint($min: false) {
						padding-top: em($p);
					}
				}
			}
			.section--grid-invert & {
				order: 3;
				&:nth-child(1) {
					order: 2;
				}
				&:nth-child(2) {
					order: 1;
				}
				@include breakpoint() {
					&:nth-child(1) {
						order: 1;
					}
					&:nth-child(2) {
						order: 2;
					}
				}
			}
			.section--triple & {
				&:nth-child(3n+1) {
					@include breakpoint() {
						padding-right: em((($p*2)/3)*2);
					}
				}
				&:nth-child(3n+2) {
					@include breakpoint() {
						padding-left: em(($p*2)/3);
						padding-right: em(($p*2)/3);
					}
				}
				&:nth-child(3n+3) {
					@include breakpoint() {
						padding-left: em((($p*2)/3)*2);
					}
				}
			}
		}
		&figure {
			line-height: 0;
			position: relative;
			z-index: 1;
			.row--shrink-fw &, &.section__figure--shrink-fw-right, &.section__figure--shrink-fw-left {
				text-align: center;
			}
			&--double {
				@include breakpoint() {	
					display: flex;
					max-width: none;
					.section__cell--even & {
						justify-content: flex-end;
					}
					.section__cell--odd & {
						justify-content: flex-start;
					}
				}
			}
		}
		&image {
			display: inline-block;
			max-width: $f;
			background-size: contain;
			background-repeat: no-repeat;
			backgrond-position: center;
			@supports (object-fit: cover) or (object-fit: contain) {
				background-image: none!important;
			}
			&--mobile {
				@include breakpoint() {
					display: none;
				}
				&-hide {
					@include breakpoint($min: false) {
						display: none;
					}
				}
			}
			@include breakpoint(1024px) {	
				flex: 0 0 auto;
				max-width: none;
				.section__cell--s6 .section__figure--double & {
					width: calc(150% - #{em($p*2)});
				}
				.section__cell--s8 .section__figure--double  & {
					$w: $f * 1.25;
					width: calc(#{$w} - #{em($p*2)});
				}
				.section__cell--s7 .section__figure--double  & {
					$w: $f * 1.10;
					width: calc(#{$w} - #{em($p*2)});
				}
			}
			@include breakpoint($max-width) {
				.section__cell--s6 .section__figure--double  & {
					width: calc(150% - ((100vw - #{$max-width}) / 2));
				}
				.section__cell--s8 & {
					$w: $f * 1.25;
					width: calc(#{$w} - ((100vw - #{$max-width}) / 2));
				}
				.section__cell--s7 .section__figure--double  & {
					$w: $f * 1.1;
					width: calc(#{$w} - ((100vw - #{$max-width}) / 2));
				}
			}
		}
		&thumb {
			width: $f!important;
			position: relative;
			height: auto!important;
			@include breakpoint() {
				object-fit: contain;
				[class*="section__figure--shrink-fw"] &{
					min-height: em(400px);
					max-height: calc(100vh - #{em(80px)});
				}
				.section__cell--even .section__figure:not([class*="section__figure--shrink-fw"]) & {
					object-position: right center;
				}
				.section__cell--odd .section__figure:not([class*="section__figure--shrink-fw"]) & {
					object-position: left center;
				}
			}
		}
		&title {
			line-height: percentage($lh);
			&--forcewhite {
				color: $w;
			}
			&--medium {	
		        margin-bottom: lh_mb(30px, $lh);
		        @include breakpoint($bp) {     
		        	margin-bottom: lh_mb(35px, $lh);
			    }
			}
			&--big {
			    margin-bottom: lh_mb(35px, $lh);
			    @include breakpoint($bp) {
			       margin-bottom: lh_mb(42px, $lh);
			    }
			}
			&--large {
			    margin-bottom: lh_mb(42px, $lh);
		        @include breakpoint($bp) {
		            margin-bottom: lh_mb(55px, $lh);
		        }
			}
			.swiper-slide & {
				transition-delay: $speed/4;
			}
			&--small {
				.section__content--layers & {
					//font-size: em(18px);
					color: $alternate-color;
				}
			}
			&--review {
				color: $alternate-color;
				margin-bottom: em($p*2, 30px);
			    @include breakpoint($bp) {
			        margin-bottom: em($p*2, 35px);
			    }
			}
		}
		&symbol {
			color: $alternate-color;
			[class*="icon"] {
				font-size: em(70px);
				margin-right: em($p/2, 70px);
			}
			svg {
				width: auto;
				height: em(70px);
			}
			path {
				fill: $alternate-color!important;
			}
			&--blu {
				color: $brand-main;
				path {
					fill: $brand-main!important;
				}
			}
			.row--inverted & {
				color: $w;
				path {
					fill: $w!important;
				}
			}
			&s {
				@include grow('small', 'bottom');
			}
		}
		&link {
			@include grow('small', 'top');
			@include grow('md', 'top');
		}
		&item {
			flex: 0 0 auto;
			width: $f;
		}
		&content {
			&--layers {
				margin: 0 auto;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
				overflow: visible;
				.section__wrapper {
					order: 3;
					align-items: stretch;
					margin: em($p*2);
					flex: 0 0 auto;
					width: $f;
				}
				.section__item {
					text-align: center;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					align-content: center;
					> * {
						width: $f;
					}
				}
				i {
					cursor: pointer;
					&:before {
						display: inline-block;
						transition: transform $speed;
					}
					@extend %arrow_balls;
					&.swiper-button-disabled {
						opacity: .25;
						cursor: not-allowed;
					}
				}
				.icon-arrow-left {
					font-size: em($p);
					//margin-right: em($p/2, $p);
					&:hover:not(.swiper-button-disabled):before {
						transform: translate3d(-5px, 0, 0);
					}
				}
				.icon-arrow-right {
					order: 2;
					font-size: em($p);
					//margin-left: em($p/2, $p);
					&:hover:not(.swiper-button-disabled):before {
						transform: translate3d(5px, 0, 0);
					}
				}
				@include breakpoint() {
					flex-wrap: nowrap;
					.section__wrapper {
						order: 2;
						margin: 0;
						transform: translate3d(em(-50px), 0, 0);
					}
					.icon-arrow-left {
						order: 1;
						margin-left: 0;
						transform: translate3d(-200%, 0, 0);
					}
					.icon-arrow-right {
						order: 3;
						margin-right: 0;
					}
				}
			}
		}
		&wrapper {
			align-items: flex-start;
		}
		&pagination {
			@include grow('md', 'top');
			display: flex;
			align-items: center;
			.icon-arrow-left, .icon-arrow-right {
				font-size: em($p);
				color: $brand-main;
				cursor: pointer;
				&:before {
					display: inline-block;
					transition: transform $speed;
				}
			}
			.icon-arrow-left {
				margin-right: 2em;
				&:hover {
					&:before {
						transform: translate3d(-1px, 0, 0);
					}
				}
			}
			.icon-arrow-right {
				margin-left: 2em;
				&:hover {
					&:before {
						transform: translate3d(1px, 0, 0);
					}
				}
			}
			.swiper-pagination {
				margin: auto;
				@include breakpoint() {
					margin: 0;
				}
			}
		}
		&article {
			display: inline-flex;
			align-items: center;
			.icon-arrow-link {
				font-size: 7px;
				width: $p;
				height: $p;
				line-height: $p;
				text-align: center;
				background-color: $light-border;
				border-radius: $p;
				color: $brand-main;
				transition: background-color $speed;
				margin-left: $p/2;
				&:before {
					display: inline-block;
					transition: transform $speed;
				}
			}
			&:hover{
				.icon-arrow-link {
					background-color: transparent;
					//color: $w;
					&:before {
						transform: translate3d(2px, -2px, 0);
					}
				}
			}
		}
		&render {
			@extend %layers;
			margin-bottom: em($p*4);
			&--mw-large {
				margin-left: auto;
				margin-right: auto;
			}
		}
		&layer {
			width: $f;
			flex: 0 0 auto;
			opacity: 0.25;
			transition: transform $speed, opacity $speed;
			transform: translate3d($f*-1, ($f/2)*-1, 0);
			&--visible {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
		&slider {
			z-index: 10;
		}
		&certification {
			display: flex;
			flex-wrap: wrap;
			border-top: 1px solid $light-border;
			justify-content: center;
			@include grow('small');
			.section__cell & {
				&:nth-last-child(1) {
					padding-bottom: 0!important;
				}
			}
			@include breakpoint(480px) {
				flex-wrap: nowrap;
				align-items: center;
				justify-content: flex-start;
			}
			.section__figure {
				max-width: em(180px);
				img {
					width: $f!important;
					height: auto!important;
				}
				@include breakpoint(480px) {
					flex: 0 0 auto;
					max-width: em(120px);
				}
			}
			.section__content {
				flex: 0 0 auto;
				text-align: center;
				width: $f;
				color: $dark-gray;
				@include breakpoint(480px) {
					flex: 1;
					text-align: left;
					padding-left: em($p*2);
				}
				.section__title {
					font-size: em(18px);
				}
			}
		}
		// RECENSIONI
		&average {
			&s {
				position: relative;
				display: flex;
				align-items: flex-end;
				flex-wrap: wrap;
			}
			@extend %average;
		}
		&total {
			color: $light-color;
			margin-left: em($p);
			display: inline-block;
		}
		&star {
			&s {
				display: flex;
				margin-left: em($p);
			}
			@extend %star;
			&--active {
				color: $highlight-color;
			}
			&half {
				@extend %star_half;
			}
		}
	}	
}