.valori {
	overflow: hidden;
	position: relative;
	@include grow('md');
	&__{		
		&main {
			width: $f;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			max-width: calc(100% - #{em($p*8)});
			@include breakpoint(1000px) {	
				max-width: em(1000px);
			}
		}
		&nav {
			top: 0;
			position: absolute;
			height: $f;
			display: flex;
			align-items: center;
			width: em($p*2);
			background-color: #fff;
			z-index: 4;
			transition: visibility $speed, opacity $speed;
			&--hidden {
				opacity: 0;
				visibility: hidden;
			}
			&--prev {
				left: 0;
			}
			&--next {
				right: 0;
			}
			[class*="icon"] {
				width: em($p*2);
				height: em($p*2);
				line-height: em($p*2);
				background-color: $cyan;
				color: $brand-main;
				transition: background-color $speed;
				cursor: pointer;
				border-radius: $f;
				text-align: center;
				position: relative;
				bottom: 10%;
				&:hover {
					background-color: $brand-main;
					color: $w;
				}
			}
		}
		&container {
			@include grow('lg');
			text-align: center;
			margin: auto;
			//min-height: 100vw;
			display: flex;
			align-items: center;
			@include breakpoint(500px) {
				max-width: em(500px);
			}
		}
		&header {
			@include grow('md');
			p {
				padding-top: em($p/2);
			}
		}
		&item {
			flex: 0 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			flex-wrap: wrap;
			@include normalize_padding;
			p {
				font-size: em(14px);
				padding: 0 em($p, 14px);
			}
			&.swiper-slide {
				width: $f;
				cursor: pointer;
			}
		}
		&content {
			@include normalize_padding_half;
			position: relative;
			padding-top: em($p*2);
			z-index: 1;
			width: $f;
		}
		&circle {
			//position: absolute;
			position: relative;
			width: $f;
			flex: 0 0 auto;
			//transition: $speed/2;
			// top: 50%;
			// left: 50%;
			// transform: translate3d(-50%, -50%, 0);
			&:before {
				display: block;
				padding-top: $f;
				// border-radius: $f;
				// background-color: #f8f6d8;
				content: '';
			}
			@include breakpoint() {		
				max-width: 65%;
			}
		}
		&icon {
			position: absolute;
			width: $f;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
			object-fit: contain;
			img {
		    	width: $f!important;
				height: auto!important;
		    }
		}
		&text, &title {
			opacity: 0;
			transform: translate3d(0, $f, 0);
			transition: transform $speed/2, opacity $speed/2;
			overflow: hidden;
			.swiper-slide-current & {
				opacity: 1;
				transform: translate3d(0, 0, 0);
				transition-delay: $speed;
				transition-duration: $speed;
			}
		}
		&title {
			line-height: 1;
			// .swiper-slide-next:hover &, .swiper-slide-prev:hover & {
			// 	opacity: 1!important;
			// }
		}
		&text {
			padding-top: em($p/2);
		}
		&wrapper {
			overflow: visible;
			//transform: none!important;
			width: $f;
		}
		// &icon {
		// 	max-width: em(100px);
		// 	height: auto!important;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 50%;
		// 	transform: translate3d(-50%, -50%, 0);
		// 	opacity: 0;
		// 	transition: opacity $speed/2;
		// 	.swiper-slide-active &, .swiper-slide-next &, .swiper-slide-prev & {
		// 		opacity: 1;
		// 	}
		// }
	}
}