// %ng_enter {
// 	&.ng-enter {
// 		position: relative;
// 		opacity: 0;
// 		visibility: hidden;
// 		top: em($p*-2);
// 		transition: none;
// 	}
// 	&.ng-enter-active {
// 		opacity: 1;
// 		visibility: visible;
// 		top: 0;
// 	}
// }

// .view {
// 	.is-anim & {
// 		position: relative;
// 		opacity: 0;
// 		visibility: hidden;
// 		top: em($p*-2);
// 		@extend %ng_enter;
// 	}
// 	@extend %ng_enter;
// }

.iro {
	> .view {
		transition: opacity $speed;
		transition-delay: $speed;
		position: relative;
	}
	&--anim {
		> .view {
			transition-delay: $speed/2;
			opacity: 0;
		}
	}
	.view + .view {
		display: none;
	}
	> {
		.woocommerce-error[role="alert"] {
			position: fixed;
			width: $f;
			top: em($p*4);
			padding: em(10px, 12px);
			font-size: 12px;
			text-align: center;
			background: transparentize($error, .6);
			color: $error;
			z-index: 9999;
		}
	}
}