.view {
	transition: transform $speed, opacity $speed;
	&.ng-animate {
		opacity: 0;
		background-color: $f;
		&.ng-enter {
			transition-delay: $speed*50;
			transform: translate3d(0, $p*2, 0);
			&.ng-enter-active {
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
		}
		&.ng-leave {
			position: absolute;
			top: em($p*4);
			left: 0;
			width: $f;
			z-index: 2;
		}
		&.ng-leave.ng-leave-active {
			transform: translate3d(0, $p*-2, 0);
		}
	}
}