// %ng_enter {
// 	&.ng-enter {
// 		position: relative;
// 		opacity: 0;
// 		visibility: hidden;
// 		top: em($p*-2);
// 		transition: none;
// 	}
// 	&.ng-enter-active {
// 		opacity: 1;
// 		visibility: visible;
// 		top: 0;
// 	}
// }

// .view {
// 	.is-anim & {
// 		position: relative;
// 		opacity: 0;
// 		visibility: hidden;
// 		top: em($p*-2);
// 		@extend %ng_enter;
// 	}
// 	@extend %ng_enter;
// }

body {
	> .view {
		transition: visibility $speed, opacity $speed, top $speed;
		position: relative;
	}
	&.is-anim {
		> .view {	
			opacity: 0;
			visibility: hidden;
			top: em($p*-2);
		}
	}
}