.footer {
	transition: opacity $speed;
	.iro--anim & {
		opacity: 0;
	}
	&__subtitle {
		font-size: 12px;
		color: $light-color;
		font-weight: 300;
		padding-bottom: em($p, 12px);
		width: $f;
		flex: 0 0 auto;
		.footer__cell--last & {
			padding-bottom: $p/2;
		}
	}
	&__cell {
		margin: em($p) 0;
		padding: {
			left: 10px;
			right: 10px;
		};
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		@include breakpoint() {
			justify-content: flex-start;
			text-align: left;
		}
		@include breakpoint() {
			padding: {
				left: em($p);
				right: em($p);
			};
		}
		@include breakpoint() {
			.footer__container--gray & {
				width: auto;
			}
		}
		.footer__container--dark & {
			text-align: center;
			p {
				width: $f;
			}
		}
		&--first {
			@include breakpoint() {
				padding-left: 0;
				padding-right: em($p*2);
				.footer__container--dark & {
					text-align: left;
				}
			}
		}
		&--last {
			display: block;
			@include breakpoint() {
				padding-right: 0;
				padding-left: em($p*2);
				.footer__container--dark & {
					text-align: right;
				}
			}
		}
		&--menus {
			align-items: flex-start;
			a {
				font-size: 12px;
				color: $brand-main;
				&:hover {
					color: $alternate-color;
				}
			}
			@include breakpoint() {
				border: {
					left: 1px solid $dark-border;
					right: 1px solid $dark-border;
				}
			}
		}
	}
	&__nav, &__content {
		padding: {
			left: 10px;
			right: 10px;
		};
		@include breakpoint() {
			padding: {
				left: em($p);
				right: em($p);
			};
		}
	}
	&__nav {
		@include breakpoint(640px) {
			max-width: em(180px);
		}
	}
	&__container {
		@include grow();
		align-items: center;
		justify-content: space-between;
		.icon-logo {
			font-size: em(52px);
		}
		.icon-luna {
			font-size: em(24px);
			margin-right: em($p/2, 24px);
		}
		.icon-credits {
			font-size: em(24px);
		}
		&--dark {
			color: $w;
			a, strong {
				color: $w;
			}
			a {
				transition: $speed opacity;
				&:hover {
					opacity: .7;
					color: $w;
				}
			}
			padding-bottom: em(67px);
			@include breakpoint() {
				padding-bottom: em(74px);
			}
			// .single-product & {
			// 	padding-bottom: em(67px);
			// 	@include breakpoint() {
			// 		padding-bottom: em(74px);
			// 	}
			// }
		}
		p {
			font-size: 12px;	
		}
	}
	&__figure {
		display: inline-block;
		padding-right: em($p/2);
		padding-bottom: em($p);
		a {
			width: $f;
			display: block;
		}
	}
	&__image {
		display: block;
		width: $f;
	}
	&__average {
		display: inline-block;
		margin: 0 auto $p/2;
		@extend %average;
	}
	&__star {
		@extend %star;
		&s {
			display: flex;
			justify-content: center;
		}
		&--active {
			color: $highlight-color;
		}
		&half {
			@extend %star_half;
		}
	}
	&__netcomm {
		text-decoration: none;
		display: block;
		margin-top: em($p);
		img {
			max-width: em(120px);
		}
	}
}

.social {
	@include grow('small');
	text-align: center;
	background-color: #f7f5f5;
	a {
		font-size: 24px;
		margin: em($p/2, 24px);
		&:not(:hover) {
			color: $brand-main;
		}
	}
}