.checkout {	
	&-shipping, &-billing {
		&-fields {
			&__header {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				@include grow('md');
				@include grow('md', 'bottom');
			}
			&__required {
				font-size: em(14px);
				color: $light-color;
				align-self: flex-end;
			}
			&__field-wrapper {
				@extend %fields;
			}
			&__switcher {
				justify-content: space-between;
				align-items: center;
				@include grow('md', 'bottom');
			}
		}
	}
	&-shipping {
		&-fields {
			@include grow('md');
		}
	}
	&__back {
		font-size: 12px;
		display: flex;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: visibility $speed, opacity $speed;
		&--visible {
			opacity: 1;
			visibility: visible;
		}
		i {
			transition: transform $speed;
			font-size: em(16px, 12px);
			margin-right: em($p/2);
			color: $alternate-color;
		}
		&:hover {
			i {
				transform: translate3d(-5px, 0, 0);
			}
		}
	}
	&__select {
		max-width: none;
		+ input {
			display: none;
		}
	}
	&__mandatory {
		font-weight: 600;
		color: $brand-main;
		width: $f;
		height: em(50px);
		position: relative;
		display: flex;
		align-items: center;
	}
	&__slide{
		&r {
			overflow: hidden;
			&-wrapper {
				display: flex;
				align-items: flex-start;
			}
		}
		@include grow('md');
		flex: 0 0 auto;
		width: $f !important;
	}
	&__nav {
		@include grow('md');
		background-color: $w;
		position: relative;
		z-index: 200;
		border-top: 1px solid $light-border;
		justify-content: space-between;
		&--submit {
			width: $f;
			flex: 0 0 auto;
			border-top: 0;
			background-color: $lighter-color;
			margin: em($p*2) 0;
			&:before {
				position: absolute;
				width: 100vw;
				height: $f;
				top: 0;
				left: 50%;
				transform: translate3d(-50%, 0, 0);
				content: '';
				background-color: $lighter-color;
			}
			.checkout__terms, .checkout__button {
				position: relative;
			}
			.checkout__checkbox + label {
				&:before {
					background-color: $w!important;
				}
			}
		}
	}
	&__terms {
		span {
			font-size: em(12px);
			font-weight: normal;
			color: $dark-gray;
		}
		a {
			color: $main-color;
			text-decoration: underline;
			&:hover {
				color: $brand-main;
				text-decoration: none;
			}
		}
	}
	&__banner {
		@extend %banner;
		align-items: center;
		.icon-logo {
			font-size: em(40px);
			position: relative;
			top: em($p/5, 40px)*-1;
			&.placeholder {
				visibility: hidden;
			}
		}
		&-btn {
			text-transform: uppercase;
			@extend .banner__btn--phone;
			font-family: $alternate-font;
			@include breakpoint($min: false) {
				display: flex!important;
			}
		}
		&-nav {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			span {
				width: $p/2;
				height: $p/2;
				display: inline-block;
				background-color: $light-border;
				transition: background-color $speed;
				border-radius: 100%;
				margin: 0 $p/4;
				text-indent: 120%;
				overflow: hidden;
				white-space: nowrap;
				&.current {
					background-color: $alternate-color;
				}
				@include breakpoint() {
					margin: 0;
					text-indent: 0%;
					overflow: visible;
					white-space: normal;
					width: auto;
					height: auto;
					background-color: transparent!important;
					border-radius: 0;
					display: inline-flex;
					font-size: 12px;
					color: $brand-main;
					align-items: center;
					transition: color $speed;
					&:hover, &.current {
						color: $alternate-color;
					}
					&:before {
						content: '';
						background-color: $light-border;
						width: 20px;
						height: 1px;
						margin-right: $p/2;
					}
					&:after {
						content: '';
						background-color: $light-border;
						width: 20px;
						height: 1px;
						margin-left: $p/2;
					}
					&:nth-child(1) {
						&:before {
							display: none;
						}
					}
					&:nth-last-child(1) {
						&:after {
							display: none;
						}
					}
				}
				
			}
		}
	}
	&__coupon {
		@extend %coupon_form;
	}
	&__cell {
		@include grow('md', 'bottom');
		@include grow('md');
		&--order-review {
			position: fixed;
			left: 0;
			top: em(80px);
			@include breakpoint($min: false) {
				width: $f;
				z-index: 9999;
			}
		}
		@include breakpoint() {	
			&--order-review, &--slider {
				&.ng-animate {
					transition: width $speed, opacity $speed;
					display: block!important;
				}
			}
			&--order-review {
				position: static;
				&-last {
					width: 0%!important;
					opacity: 0;
					padding: 0!important;
					display: none;
				}
			}
			&--slider {
				&-last {
					width: $f!important;
				}
			}
		}
		&--error {
			text-align: center;
			padding: em($p) 0;
			p {
				font-size: em(14px);
				font-style: italic;
				color: $error;
			}
			&.ng-enter {
				opacity: 0;
				transition: opacity $speed, max-height $speed;
				max-height: 0;
				&-active {
					opacity: 1;
					max-height: em(200px);
				}
			}
			&.ng-leave {
				opacity: 0;
				transition: opacity $speed, max-height $speed;
				max-height: 0;
			}
		}
	}
	&__confirm {
		.checkout__cell--shrink-right-only {
			border-right: 1px solid $dark-border;
		}
	}
	&__info {
		@include grow('md', 'bottom');
	}
	&__error {
		color: $error;
		font-size: 11px;
		font-style: italic;
		padding-top: em($p,11px);
	}
}

%table_header {
	span {
		display: inline-block;
		padding: 0 em($p) em($p);
	}
}

.shipping {
	@include grow('lg');
	&__packages {
		@include grow('md');
	}
	li {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__price {
		font-size: em($p);
		font-weight: 300;
		color: $brand-main;
		padding-right: em($p, $p);
	}
	&__header {
		@extend %table_header;
	}
	&__sublabel {
		color: $main-color;
		font-weight: 300;
	}
	&__wrapper {
		width: $f;
		flex: 0 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-top: 1px solid $light-border;		
		@include grow('md');
	}
	&__compile {
		flex: 0 0 auto;
		width: $f;
		order: 3;
	}
	&__extra {
		flex: 0 0 auto;
		width: $f;
		order: 3;
		background-color: $lighter-color;
		padding-left: 20px;
		@include grow('small');
		.extra-shipping-option {
			padding-left: em($p/2);
		}
		.weso-shipping-option-text-label {
			color: $brand-main;
			font-weight: 600;
			display: inline-block;
			padding-bottom: em($p/2);
		}
		.shipping__checkbox {
			& + label {
				color: $main-color;
				font-weight: normal;
				&:before {
					background-color: $w;
				}
				&:after {
					background-color: $dark-border;
				}
			}
			&:checked + label:after {
				background-color: $highlight-color;
			}
		}
	}
}
.payment {
	@include grow('md');
	&__header {
		@extend %table_header;
	}
	&__method {
		@include grow('md');
		@include grow('small');
		border-top: 1px solid $light-border;
		justify-content: space-between;
		align-items: center;
		[class*="icon-"] {
			font-size: em(40px);
			color: $dark-border;
			transition: color $speed;
		}
		&--paypal {
			svg {
				width: em(91px);
				height: em(23px);
			}
			path {
				transition: fill $speed;
			}
		}
		&--satispay {
			[class*="icon-"] {
				font-size: em($p+4px);
			}
		}
	}
	&__icon {
		width: em(100px);
		text-align: center;
		.payment__method--satispay & {
			width: auto;
		}
	}
	&__radio{
		&:not(:checked) + label + .payment__icon {
			path {
				fill: $dark-border!important;
			}
		}
		&:not(:checked):hover {
			& + label + .payment__icon {
				[class*="icon-"] {
					color: $main-color;
				}
				path {
					fill: $main-color!important;
				}
			}
		}
		&:checked {
			& + label + .payment__icon {
				[class*="icon-"] {
					color: $alternate-color;
				}
				.payment__method--satispay & {
					color: #ef4c3f;
				}
			}
		}
	}
}



.pay {
	&__{
		&row, &header {
			> * {
				flex: 1;
			}
		}
		&header {
			> * {
				color: $brand-main;
				font-weight: bold;
				&:nth-child(2) {
					text-align: center;
				}
				&:nth-child(3) {
					text-align: right;
				}
			}
		}
		&body, &footer {
			margin-top: em($p);
			padding-top: em($p);
			border-top: 1px solid $light-border;
		}
		&body {
			.pay__row {
				> * {
					&:nth-child(2) {
						text-align: center;
					}
					&:nth-child(3) {
						text-align: right;
					}
				}
			}
		}
		&footer { 
			padding-bottom: em($p*2);
			.pay__row {
				padding-bottom: em($p/2);
				&:nth-last-child(1) {
					padding-bottom: 0;
				}
				> [scope="row"] {
					flex: 2;
					font-weight: bold;
					color: $brand-main;
				}
				> * {
					&:nth-child(2) {
						text-align: right;
					}
				}
			}
		}
	}	
}