.plus {
	@include grow('md', 'bottom');
	&__wrapper {
		align-items: center;
		overflow: visible;
		@include breakpoint(640px) {
			transform: none!important;
			justify-content: center;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		width: 280px;
		flex: 0 0 auto;
		@include breakpoint(640px) {
			width: $f/3;
		}
		i {
			color: $highlight-color;
			display: inline-block;
			font-size: em($p*1.4);
			margin-right: em($p, $p*1.4);
		}
	}
	&__name {
		color: $dark-gray;
	}
}