.plus {
	@include grow('md', 'bottom');
	overflow: hidden;
	&__wrapper {
		align-items: center;
		overflow: visible;
		@include breakpoint(640px) {
			transform: none!important;
			justify-content: center;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		width: 280px;
		flex: 0 0 auto;
		text-align: center;
		@include breakpoint(640px) {
			width: $f/4;
			justify-content: center;
			text-align: left;
		}
		i {
			color: $highlight-color;
			display: inline-block;
			font-size: em($p*1.4);
			margin-right: em($p, $p*1.4);
		}
		.icon-arrow-right {
			margin-right: 0;
			font-size: 14px;
			margin-left: em($p, $p*1.4);
			transition: color $speed, transform $speed;
		}
		&:hover {
			.icon-arrow-right {
				transform: translate3d(10px, 0, 0);
				color: $alternate-color;
			}
		}
	}
	&__name {
		color: $dark-gray;
	}
}