.quantity {
	@include grow('small', 'top');
	&__wrapper {
		display: inline-flex;
		border-radius: $r;
		border: 1px solid $dark-border;
	}
	&__control {
		display: flex;
		background-color: $lighter-color;
		display: flex;
		align-items: center;
		padding: 0 em($p);
		transition: background-color $speed;
		&--plus {
			border-bottom-right-radius: $r;
			border-top-right-radius: $r;
		}
		&--minus {
			border-bottom-left-radius: $r;
			border-top-left-radius: $r;
		}
		i {
			font-size: 9px;
			color: $alternate-color;
		}
		&:hover {
			background: $alternate-color;
			i {
				color: $lighter-color;
			}
		}
	}
}

.product {
	//@include grow('md');
	@include grow('md', 'bottom');
	position: relative;
	&:after {
		content: '';
		width: $f;
		flex: 0 0 auto;
		height: 1px;
		background-color: $light-border;
		order: 10;
	}
	&:before {
		@include breakpoint() {
			content: '';
			width: $f/2;
			padding-bottom: em(152px);
			display: block;
		}
	}
	&__description {
		@include grow('small');
	}
	&__price {
		color: $brand-main;
		font-weight: 300;
		span {
			font-size: em(42px);
		}
		@include grow('small', 'top');
	}
	&__summary, &__images {
		width: $f;
		flex: 0 0 auto;
		flex-wrap: wrap;
		@include grow('md');
		@include breakpoint() {
			width: $f/2;
		}
	}
	&__summary {
		order: 1;
		text-align: center;
		@include breakpoint() {
			order: 2;
			text-align: left;
		}
		// ngcart-addtocart {
		// 	display: flex;
		// 	align-items: flex-end;
		// 	flex-wrap: wrap;
		// 	.quantity + .add-to-cart__wrapper:not(.add-to-cart__wrapper--fixed) {
		// 		margin-left: em($p);
		// 	}
		// }
	}
	&__gallery {
		&-image {
			width: $f!important;
			flex: 0 0 auto;
			line-height: 0;
			img {
				width: $f!important;
				height:auto!important;
				// @include breakpoint() {	
				// 	max-height: calc(100vh - #{em(140px + 32px)});
				// 	object-fit: contain;
				// }
			}
		}
		display: none;
		top: 0;
		left: 0;
		&--visible {
			display: block;
		}
	}
	&__images {
		position: relative;
		// order: 2;
		// @include breakpoint() {
		// 	order: 1;
		// }
		@include breakpoint($min: false) {
			padding-top: 0!important;
		}
		@include breakpoint() {		
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__star {
		@extend %star;
		&s {
			display: flex;
			justify-content: center;
			@include breakpoint() {
				justify-content: flex-start;
			}
		}
		&--active {
			color: $highlight-color;
		}
		&-label {
			color: $light-color;
			margin-left: 10px;
		}
		&half {
			@extend %star_half;
		}
	}
}

.variation {
	@include grow('small', 'top');
	&__items {
		@include grow('small', 'bottom');
		input[type="radio"] {
			display: none;
			& + label {
				display: inline-block;
				width: 32px;
				height: 32px;
				overflow: hidden;
				text-indent: 150%;
				white-space: nowrap;
				border-radius: 32px;
				border: 1px solid $light-border;
				transition: box-shadow $speed, border-color $speed;
				box-shadow: inset 0 0 0 2px transparentize($w, 1);
				margin-right: 10px;
				cursor: pointer;
			}
			&:checked + label {
				border-color: $dark-border;
				box-shadow: inset 0 0 0 2px $w;
			}
		}
	}
	&__label {
		strong {
			display: inline-block;
			margin-left: em($p/4);
		}
	}
	&__custom {
		.variation__title {
			margin: em($p) 0 em($p/2);
			font-size: 1em;
		}
	}
	&__unit{
		&s {
			align-items: center;
			
		}
		flex: 1;
		display: flex;
		align-items: center;
	}
	&__per {
		display: inline-block;
		padding: 0 em($p/2);
	}
	&__availability {
		.stock {
			padding-top: em($p);
			font-style: italic;
			color: $brand-main;
		}
	}
}

.add-to-cart {
	&__wrapper {
		display: inline-block;
		position: relative;
		line-height: 0;
		@include grow('small', 'top');
		&:after {
			@include full;
			z-index: 2;
		}
		&--loading, &--disabled {
			&:after {
				content: '';
			}
		}
		&--fixed {
			position: fixed;
			left: 50%;
			bottom: 0;
			transform: translate3d(-50%, 100%, 0);
			z-index: 9997;
			padding-top: 0;
			// .logged-in.admin-bar & {
			// 	margin-top: 32px;
			// }
			transition: transform $speed;
			&-inview {
				transform: translate3d(-50%, 0%, 0);
				// &-hidden {
				// 	transform: translate3d(-50%, 100%, 0);
				// }
			}
			.add-to-cart__button {
				border-bottom-right-radius: 0!important;
				border-bottom-left-radius: 0!important;
				line-height: 1;
				box-shadow: 0 0 em($p) transparentize($b, .75)!important;
			}
		}
		&--disabled {
			.add-to-cart__button {
				opacity: .5;
			}
		}
	}
	&__open {
		font-size: 13px;
		display: block;
		font-weight: bold;
		padding-top: 10px;
		letter-spacing: 0.025em;
		color: $brand-main;
		transition: color $speed;
		&:hover {
			color: $alternate-color;
		}
	}
}