.related, .products {
	&__{
		&header {
			@include grow('md');
			p {
				padding-top: em($p);
			}
		}
		&container {
			@include grow('md', 'top');
		}
		&image {
			width: $f!important;
			height: auto!important;
			line-height: 0;
		}
		&link {
			width: $f;
			position: relative;
			display: flex;
			align-items: flex-end;
		}
		&button {
			position: absolute!important;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -40%, 0);
			body.desktop & {
				opacity: 0;
				visibility: hidden;
				transition: background-color $speed, opacity $speed, visiblity $speed, transform $speed!important;
			}
		}
	}
}
%button_hover {
	body.desktop & {
		opacity: 1;
		visibility: visible;
		transform: translate3d(-50%, -50%, 0);
	}
}
.products {
	&__{
		&figure {
			position: relative;
		}
		&image {
			transition: opacity $speed;
			.products__cell:hover & {
				opacity: .25;
			}
		}
		&content {
			@include grow('md');
			text-align: center;
		}
		&cell {
			&--shrink-left-only {
				@include breakpoint() {
					margin-top: em($p*8);
				}
			}
		}
		&title {
			$lh: 40px/35px;
			line-height: percentage($lh);
			margin-bottom: lh_mb(30px, $lh);
			padding-bottom: em($p, 30px);
	        @include breakpoint($bp) {     
	        	margin-bottom: lh_mb(35px, $lh);
				padding-bottom: em($p, 35px);
		    }
		}
		&button {
			.products__cell:hover & {
				@extend %button_hover;
			}
		}
		&cell {
			position: relative;
		}
	}
}

.related {
	&__{	
		&container {
			overflow: hidden;
			background: url(../images/white-splash.jpg) left bottom repeat-x {
				size: auto em($p*7);
			};
		}	
		&cell {
			display: flex;
		}
		&button {
			.related__link:hover & {
				@extend %button_hover;
			}
		}
		&list {
			overflow: visible;
		}
	}
}