.woocommerce {
	&-notice {
		@include grow('md', 'bottom');
		&--error {
			color: $error;
		}
	}
}
.overview {
	&s {
		padding: em($p/2) 0;
	}
	padding: em($p/2) 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}