.woocommerce {
	&-notice {
		@include grow('md', 'bottom');
		&--error {
			color: $error;
		}
	}
	&-order {
		padding-bottom: em($p*2);
	}
	&-error[role="alert"] {
		position: fixed;
		width: $f;
		top: em($p*4, 12px);
		padding: em(10px, 12px);
		font-size: 12px;
		text-align: center;
		background: transparentize($error, .6);
		color: $error;
		z-index: 9999;
	}
	&-instructions {
		border-top: 1px solid $light-border;
		padding-top: em($p);
	}
	&-bacs-bank-details {
		padding-top: em($p);
		h2 {
			@extend [class*="__title"];
		}
		h3 {
			padding: em($p/2) 0;
			font-size: 1em;
		}
		.order_details {
			padding-top: em($p/2);
			padding-bottom: em($p);
			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: em($p/2) 0;
				strong {
					flex: 0 0 auto;;
				}
			}
		}
	}
}
.overview {
	&s {
		padding: em($p/2) 0;
	}
	padding: em($p/2) 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}