.woocommerce {
	&-notice {
		@include grow('md', 'bottom');
		&--error {
			color: $error;
		}
	}
	&-order {
		padding-bottom: em($p*2);
	}
	&-error[role="alert"] {
		position: fixed;
		width: $f;
		top: em($p*4, 12px);
		padding: em(10px, 12px);
		font-size: 12px;
		text-align: center;
		background: transparentize($error, .6);
		color: $error;
		z-index: 9999;
	}
}
.overview {
	&s {
		padding: em($p/2) 0;
	}
	padding: em($p/2) 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}