*, *:after, *:before {
    box-sizing: border-box !important;
}


html {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll; 
}


body {
    opacity: 1;
    font-size: $base_font_size - 2px;
    letter-spacing: $spacing;
    margin: 0;
    padding: {
        top: em(80px);
    }
    color: $main-color;
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity .2s;
    //overflow-x: hidden;
    // .wf-active &, .wf-inactive & {
    //     transition: opacity $speed;
    //     opacity: 1;
    // }
    @include breakpoint() {
        font-size: $base_font_size;
    }
    &.blog, &.category, &.single-post {
        overflow: visible;
    }
    &.home, &.tax-collezioni {
        padding-bottom: 0!important;
    }
}

a {
    text-decoration: none;
    transition: color $speed;
    color: transparent;
    @include color($dark-color, $alternate-color);
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

ul, ol {
    list-style-type: none;
}

p {
	line-height: percentage(27px/18px);
}

strong {
	font-weight: 600;
}

[class*="__subtitle"] {
    line-height: 1;
    font-size: em(18px);
    color: $brand-main;
    &[class*="--error"] {
        color: $error;
    }
    @include breakpoint($bp) {
        font-size: em(24px);
    }
}

[class*="__title"] {
	line-height: 0.8;
    color: $brand-main;
    font-family: $alternate-font;
    font-weight: normal;
    font-size: em(20px);
    @include breakpoint($bp) {
        font-size: em(22px);
    }
}
[class*="-small"] {
    font-size: em(26px);
    @include breakpoint($bp) {
        font-size: em(30px);
    }
}
[class*="-medium"] {
	font-size: em(30px);
    @include breakpoint($bp) {
        font-size: em(35px);
    }
}
[class*="-big"] {
    font-size: em(35px);
    @include breakpoint($bp) {
        font-size: em(42px);
    }
}
[class*="-large"] {
    &:not([class*="-mw-large"]) {
        font-size: em(42px);
        @include breakpoint($bp) {
            font-size: em(55px);
        }
    }
}
[class*="-huge"] {
	font-size: em(50px);
    font-weight: 200;
    @include breakpoint($bp) {
        font-size: em(70px);
    }
}
[class*="-giant"] {
    font-size: vmin(150px);
    font-weight: 200;
    @include breakpoint($bp) {
        font-size: em(150px);
    }
}
[class*="-light"] {
    font-weight: 300;
}
[class*="-lighter"] {
    font-weight: 200;
}
[class*="-ungrow"] {
    padding: 0;
}
[class*="-upper"] {
	text-transform: uppercase;
}
[class*="-emphasis"] {
	color: $brand-main;
    strong {
        color: $brand-main;
    }
}
[class*="-mw"] {
    &:not([class*="-mw-large"]) {
        max-width: $min-max-width;
        margin: {
            left: auto;
            right: auto;
        }
    }
}
[class*="-mw-large"] {
    max-width: $md-max-width;
    margin: {
        left: auto;
        right: auto;
    }
}
[class*="-gray"] {
    background-color: $lighter-color;
}
[class*="-white"] {
    background-color: $w;
}
[class*="-dark"]:not([class*="--handheld-dark"]) {
    background-color: $dark-color;
}
[class*="-black"] {
    background-color: $b;
}
[class*="-cyan"] {
    background-color: $cyan;
}
[class*="-gradient-dark"] {
    background-image: linear-gradient(to top, #0c386c, #7ecdf3);
}
[class*="-gradient-dark-inverted"] {
    background-image: linear-gradient(to bottom, #0c386c, #7ecdf3);
}
[class*="-gradient-light"] {
    background-image: linear-gradient(to bottom, $w, #eff9fd);
}
[class*="-gradient-light-inverted"] {
    background-image: linear-gradient(to top, $w, #eff9fd);
}
[class*="-alternate"] {
    font-family: $alternate-font;
    p {
        color: $dark-gray;
    }
}
[class*="-aligncenter"] {
    text-align: center;
}
[ng-click] {
    cursor: pointer;
}

%content {
    p, ul, ol {
        line-height: percentage(27px/16px);
        font-weight: 300;
        padding-bottom: em($p);
        &:nth-last-child(1) {
            padding-bottom: 0;
        }
        a {
            color: $alternate-color;
            font-weight: bold;
            &:hover {
                color: $brand-main;
            }
        }
    }
    ul, ol {
        li {
            padding-top: em($p/2);
            position: relative;
            &:before {
                position: absolute;
                left: 0;
            }
            &:nth-child(1) {
                padding-top: 0;
                &:before {
                    top: em(12px);
                }
            }
        }
    }
    ul {
        li {
            padding-left: em($p);
            &:before {
                content: '';
                width: 4px;
                height: 4px;
                background-color: $alternate-color;
                border-radius: 8px;
                top: em(22px);
            }
            &:nth-child(1) {
                &:before {
                    top: em(12px);
                }
            }
        }
    }
    ol {
        counter-reset: section;
        li {
            counter-increment: section;
            padding-left: em($p*1.5);
            &:before {
                content: counter(section) ".";
                color: $alternate-color;
                font-size: em(14px);
                font-style: italic;
                font-weight: 600;
                top: em(14px);
            }
            &:nth-child(1) {
                &:before {
                    top: em(4px);
                }
            }
        }
    }
}

.trigger {
    height: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}