@font-face {
  font-family: "iro-icons";
  src: url('../fonts/iro-icons.eot');
  src: url('../fonts/iro-icons.eot?#iefix') format('eot'),
    url('../fonts/iro-icons.woff2') format('woff2'),
    url('../fonts/iro-icons.woff') format('woff'),
    url('../fonts/iro-icons.ttf') format('truetype'),
    url('../fonts/iro-icons.svg#iro-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"], [class*=" icon"] {
  display: inline-block;
  font-family: "iro-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before { content: "\EA01" }
.icon-arrow-left:before { content: "\EA02" }
.icon-arrow-link:before { content: "\EA03" }
.icon-arrow-right:before { content: "\EA04" }
.icon-arrow-up:before { content: "\EA05" }
.icon-bacs:before { content: "\EA06" }
.icon-bag:before { content: "\EA07" }
.icon-carta:before { content: "\EA08" }
.icon-casa:before { content: "\EA09" }
.icon-chiudi:before { content: "\EA0A" }
.icon-cod:before { content: "\EA0B" }
.icon-credits:before { content: "\EA0C" }
.icon-cuscino:before { content: "\EA0D" }
.icon-detergente:before { content: "\EA0E" }
.icon-facebook:before { content: "\EA0F" }
.icon-fiala:before { content: "\EA10" }
.icon-google-plus:before { content: "\EA11" }
.icon-instagram:before { content: "\EA12" }
.icon-invoice:before { content: "\EA13" }
.icon-lenzuola:before { content: "\EA14" }
.icon-logo:before { content: "\EA15" }
.icon-luna-vuota:before { content: "\EA16" }
.icon-luna:before { content: "\EA17" }
.icon-macchie:before { content: "\EA18" }
.icon-materasso:before { content: "\EA19" }
.icon-materiali-1:before { content: "\EA1A" }
.icon-materiali-2:before { content: "\EA1B" }
.icon-materiali-3:before { content: "\EA1C" }
.icon-materiali-4:before { content: "\EA1D" }
.icon-onda:before { content: "\EA1E" }
.icon-pacco:before { content: "\EA1F" }
.icon-phone:before { content: "\EA20" }
.icon-pinterest:before { content: "\EA21" }
.icon-play:before { content: "\EA22" }
.icon-satispay:before { content: "\EA23" }
.icon-spedizioni:before { content: "\EA24" }
.icon-stella-vuota:before { content: "\EA25" }
.icon-stella:before { content: "\EA26" }
.icon-twitter:before { content: "\EA27" }
.icon-youtube:before { content: "\EA28" }